
@{
    ViewBag.Title = "LeerDatos";
    int cont = 1;
}

<h2>LeerDatos</h2>

@foreach(string item in ViewBag.Archivos)
            {
                <li>
                   <h3>Usuario: @(cont++)</h3>
                <ul>
                    @foreach (var maestro in item.Split(','))
                    {
                        <li>@maestro</li>
                    }
                </ul>
                </li>
            }