@model IDGS901_tema1.Models.DistanciaDosPuntos

@{
    ViewBag.Title = "Calculos";
}

<h2>Calculos</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>El resultado es: @Html.DisplayFor(model => model.Res)</h1>
        </div>
    </div>
</div>